# 1. History of Python:

**Under the leadership of “Andrew Stuart Tanenbaum” a group of employees developed Distributed Operating System. They used ABC scripting language. The ABC scripting language Is simple and easy to work. “Guido Van Rossum” is a member in that group. In the Christmas holidays, he started developing a new language to be simple and easy compared to ABC. Finally, he developed python in National Research Institute for Mathematics and Computer Science in Netherlands in 1989 and named as “PYTHON”**


•	Python 1.0 was released in 1994
•	Python 2.0 was released in 2000 (python2)
•	Python 3.0 was released in 2008 (python3)
•	Python is a general-purpose high-level programming language
•	Rossum has taken concepts from different programming languages
•	Scripting based applications will run by interpreter and not required explicit compilation
•	Examples of scripting languages are shell scripting, python, Perl, ruby etc. all these languages run by interpreter. So, we called them as scripting languages.
•	Programming language bases applications will run by compiler
•	Programming languages cannot run without compilation

# 2. Different languages which are used to develop python

Procedural programing language: c
•	Object Orient Programming languages Java and C++
•	Scripting languages: Perl and shell scripting
•	Modular programming: Module3

# 3. Features of Python
**
•	Python is simple and powerful language. The syntax of python is very simple and easy to remember
•	Reading a python is same as reading English
•	Using python, developers can easily express their business logic within a smaller number of lines
•	Python has few keywords, simple structure and clearly defined syntax. 
•	Python has rich libraries to support Web applications, Scientific and other types of applications
•	Python is portable
•	The memory allocation will happen dynamically when you run the application
•	Interactive language
•	Supports all major commercial databases
•	Supports GUI applications
•	Support Gaming applications
•	Supports scientific applications
•	Network applications
•	Animation apps
**

# 4.Python Identifiers
•	A python identifier is a name used to identify a variable, function, class, module.
•	An identifier will start with A-Z or a-z or 0-9. 
•	Reserve keywords cannot used as identifiers

In [1]:
#examples
a=100
print(A)

NameError: name 'A' is not defined

In [3]:
a=100
b=200
print(a,b)

100 200

In [8]:
name=10
print(name)
print(type(name))

10
<class 'int'>

# 5. Python Keywords
The keywords in python having predefined functionality. Keywords cannot be used as variables or constants.

In [6]:
#To see all the keywords:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

# 6. Indentation
One of the most distinctive features of Python is Indentation. Generally, we will use curly braces in other programming languages to indicate block of code. The number of spaces in the indentation is variable, but all statements within the block must be indented the same amount.

In [10]:
# Python program showing
# indentation
name = 'Sehwag'
if name == 'Sehwag'{
    print('He is Opener Batsman')
}
else
{
    print('He is Bowler')
}
print('Indentation')

He is Opener Batsman
Indentation

# 7. Basic Functions
Python supports many functions. But, below 3 are the few functions.
Print(): This function displays the output on the screen
Type(): This function checks the datatype of specific variable
Id(): This function gives address of variable

# 8. Variable Declaration
Here we can assign single vale or multiple values at a time.

In [11]:
a=10
print(a)
print(type(a))
print(id(a))

10
<class 'int'>
140717584655024

In [12]:
#Another type of declaration

a,b,c = 100,20.5,"Shakeer"
print(a)
print(type(a))
print(id(a))
print(b)
print(type(b))
print(id(b))
print(c)
print(type(c))
print(id(c))

100
<class 'int'>
140717584657904
20.5
<class 'float'>
2290292561104
Shakeer
<class 'str'>
2290295574896

In [13]:
#Another type of declaration

a=b=c="BigdataTrends"
print(a)
print(b)
print(c)

BigdataTrends
BigdataTrends
BigdataTrends

In [16]:
#Examples on variables

myname ="Shakeer"
myjob ="Software Developer"
car ='Maruthi Suzuki SCROSS'
cost =1000 ## INR


print("my name is %s" %myname)
print("my job is %s"%myjob)
print("my fav car is %s"%car)
print("car cost is %d"%cost)

my name is Shakeer
my job is Software Developer
my fav car is Maruthi Suzuki SCROSS
car cost is 1000

In [17]:
course='MCA'
fees =2000
print('course name is :',course)

course name is : MCA

In [2]:
Empno=37893
Ename = "Shakeer"
Job = "Hadoop Developer"
byhandsalary =1000
totalsalary=2000
tax=1000*10/100
hike =totalsalary*0.10
comm = 500
netsal=comm+byhandsalary
print("my name is", Ename, "He is super")
print("my total salary is",netsal)

my name is Shakeer He is super
my total salary is 1500

# 9. Data Types in Python
  1) Int: 
     We can use to represent the whole/integral numbers.
     Immutable.
     Example: A=10
  2) Float:
    We can use to represent the decimal/floating point numbers.
    Immutable.
    Example:B=3.5
  3) Complex:
    We can use to represent the complex numbers.
    Immutable.
    Example: 100+45k
  4) Bool:
    We can use to represent the logical values(Only allowed values are True and False)
    Example: a= TRUE
  5) str:
     To represent sequence of Characters.
     Example:s='Bigdata' 
  6) bytes:
     To represent a sequence of byte values from 0-255.
     Example: 
     list=[1,2,3,4]
     b=bytes(list)
     type(b) 
     
   7) Range: 
      To represent a range of values.
      Example:
      r=range(10) 
      r1=range(0,10) 
      r2=range(0,10,2)
   8) List:
      To represent an ordered collection of objects.
      Mutable.
      lst=[10,11,12,13,14,15] 
    
    9) Set:
       To represent an unordered collection of unique objects.
       Mutable.
       Example: s={1,2,3,4,5,6} 
    10) Tuple:
        To represent an ordered collections of objects.
        Immutable
        Example:
        t=(1,2,3,4,5)
     11) frozenset:
         To represent an unordered collection of unique objects.
         Immutable.
         s={11,2,3,'D',100,'Ramu'} 
         fs=frozenset(s)
         
      12) Dict:
           To represent a group of key value pairs.
           d={101:'ss’,102:'ramu',103:'hari'} 
           type(d)

In [18]:
list=[1,2,3,4]
b=bytes(list)
type(b)

bytes

In [24]:
lst=[10,11,12,13,14,15] 
print(type(lst))
s={1,2,3,4,5,6,6} 
print(type(s))
print(s)

<class 'list'>
<class 'set'>
{1, 2, 3, 4, 5, 6}

# 10. Operators in Python

Operator is a symbol that performs certain operations. Python provides the following set of operators 
 
1.  Arithmetic Operators 
2.  Relational Operators or Comparison Operators 
3.  Logical operators 
4.  Bitwise operators 
5.  Assignment operators 
6.  Special operators

# 11. Arithmetic Operators

+ ==>Addition 
- ==>Subtraction 
* ==>Multiplication 
/ ==>Division operator 
% ==>Modulo operator 
// ==>Floor Division operator 
** ==>Exponent operator or power operator

In [5]:
#example
a=10   
b=20  
print('a+b=',a+b)   
print('a-b=',a-b)   
print('a*b=',a*b)   
print('a/b=',a/b)   
print('a//b=',a//b)   
print('a%b=',a%b)   
print('a**b=',a**b)

a+b= 30
a-b= -10
a*b= 200
a/b= 0.5
a//b= 0
a%b= 10
a**b= 100000000000000000000

# 12. Relational Operators
>
>=
<
<=

In [25]:
#example:
a=100  
b=200   
print("a > b is ",a>b)   
print("a >= b is ",a>=b)   
print("a < b is ",a<b)   
print("a <= b is ",a<=b)

a > b is  False
a >= b is  False
a < b is  True
a <= b is  True

In [7]:
#We can apply relational operators for str types also.

a="Hadoop"   
b="Spark"   
print("a > b is ",a>b)   
print("a >= b is ",a>=b)   
print("a < b is ",a<b)
print("a <= b is ",a<=b)

a > b is  False
a >= b is  False
a < b is  True
a <= b is  True

In [9]:
a=10   
b=20   
if(a>b):   
    print("a is greater than b")   
else:   
    print("a is not greater than b")

a is not greater than b

# 13. equality operators
==
!=

In [26]:
#Example

10==20
100!=100
100==True
10=="Spark"  
"HADOOP"=="HADOOP"

True

# 14. Logical Operators: (AND OR NOT)\

For boolean types behaviour: 
 
and ==>If both arguments are True then only result is True 
or ====>If atleast one arugemnt is True then result is True 
not ==>complement

# 15.Bitwise Operators
These operators are applicable only for int and boolean types.
 &,|,^,~,<<,>>
 
& ==> If both bits are 1 then only result is 1 otherwise result is 0 
| ==> If atleast one bit is 1 then result is 1 otherwise result is 0 
^ ==>If  bits are different then only result is 1 otherwise result is 0 
~ ==>bitwise complement operator           
1==>0   &  0==>1 
<<  ==> Bitwise Left shift 
>> ==> Bitwise Right Shift

In [14]:
#Examples
print(49&50)

48

In [15]:
print(10.5 & 5.6)

TypeError: unsupported operand type(s) for &: 'float' and 'float'

In [16]:
print(True & True)

True

# 16. Input and Output Statements:

raw_input(): 
 
This function always reads the data from the keyboard in the form of String Format.  We must convert that string type to our required type by using the corresponding type casting methods. 

input():  
  
input() function can be used to read data directly in our required format. We are not required to perform type casting.

In [27]:
x=input("Enter Value")  
type(x)

Enter Value100

str

In [28]:
x=input("Enter First Number:")   
y=input("Enter Second Number:")   
i = int(x)  
j = int(y)   
print("The Sum:",i+j)

Enter First Number:10
Enter Second Number:20
The Sum: 30

In [3]:
print("The Sum:",int(input("Enter First Number:"))+int(input("Enter Second Number:")))

Enter First Number:9
Enter Second Number:0
The Sum: 9

In [29]:
#Write a program to read Employee data from the keyboard and print that data
eno=int(input("Enter Employee No:"))   
ename=input("Enter Employee Name:")   
esal=float(input("Enter Employee Salary:"))   
eaddr=input("Enter Employee Address:")   
married=bool(input("Employee Married ?[True|False]:"))   
print("Employee No :",eno)   
print("Employee Name :",ename)   
print("Employee Salary :",esal)   
print("Employee Address :",eaddr)   
print("Employee Married ? :",married)

Enter Employee No:100
Enter Employee Name:SHAKEER
Enter Employee Salary:1000
Enter Employee Address:BAL
Employee Married ?[True|False]:True
Employee No : 100
Employee Name : SHAKEER
Employee Salary : 1000.0
Employee Address : BAL
Employee Married ? : True

# 17. eval:
eval Function take a String and evaluate the Result.
eval() can evaluate the Input to list, tuple, set, etc based the provided input

In [6]:
x = eval("10+20+30")
print(x)

60

In [30]:
x = eval(input("Enter Expression"))

Enter Expression20*10

In [31]:
lst = eval(input("Enter List"))   
print (type(lst))   
print(lst)

Enter List1,2,3,4
<class 'tuple'>
(1, 2, 3, 4)

# 18. Command Line Arguments:

Argv is not Array it is a List. 
It is available sys Module. 
The Argument which are passing at the time of execution are called Command Line Arguments.
Within the Python Program this Command Line Arguments are available in argv. Which is present in SYS Module.

Note: 
argv[0] represents Name of Program. But not first Command Line Argument. argv[1] represent First Command Line Argument.

In [12]:
#Write a Program to display Command Line Arguments?

print("The Number of Command Line Arguments:", len(argv))
print("The List of Command Line Arguments:", argv)
print("Command Line Arguments one by one:")

for x in argv:
    print(x)
#py test.py 10 20 30

NameError: name 'argv' is not defined

In [ ]:
#If both arguments are String type then + operator acts as concatenation operator. 
 
#If one argument is string type and second is any other type like int then we will get Error 
 
#If both arguments are number type then + operator acts as arithmetic addition operator

In [13]:
print("Hello"+"World")   
print("Hello","World")

HelloWorld
Hello World

In [14]:
a,b,c=10,20,30   
print("The Values are :",a,b,c)

The Values are : 10 20 30

In [32]:
#If we want output in the same line with space 
print("Hello",end=' ')   
print("Hadoop",end=' ')  
print("Spark")

Hello Hadoop Spark

In [15]:
lst=[10,20,30,40]   
tple=(10,20,30,40)   
print(lst)   
print(tple)

[10, 20, 30, 40]
(10, 20, 30, 40)

In [17]:
s="Shakeer"   
a=33   
s1="Scala"   
s2="Python"   
print("Hello",s,"Your Age is", a)   
print("You are teaching",s1,"and",s2)

Hello Shakeer Your Age is 33
You are teaching Scala and Python

In [18]:
a=10   
b=20   
c=30   
print("a value is %i" %a)   
print("b  value is %d and c value is %d" %(b, c))

a value is 10
b  value is 20 and c value is 30

In [ ]:
'''
%i====>int 
%d====>int 
%f=====>float 
%s======>String type 
'''

In [19]:
a=100    
b=200   
c=300   
print("a value is %i" %a)   
print("b  value is %d and c value is %d" %(b,c))

a value is 100
b  value is 200 and c value is 300

In [5]:
str="Shakeer"   
list=[10,20,30,40]   
print("Hello %s ...The List of Items are %s"  %(str,list))

Hello Shakeer ...The List of Items are [10, 20, 30, 40]

In [33]:
name="RamCharan"
salary=10000
gf="Kajol"

print("Hello {0} your salary is {1} and Your Friend {2} is waiting".format(name,salary,gf))
#print("Hello {x} your salary is {y} and Your Friend {z} is waiting".format(x=name,y=salary,z= gf))

Hello RamCharan your salary is 10000 and Your Friend Kajol is waiting

# 20.Control Structures

1.if:
Syntax:
if condition : statement 
   
   (or) 
 
if condition :      
 statement-1      
 statement-2      
 statement-3
 
 
If condition is true then statements will be executed.

In [35]:
name = input("Enter Name:")
if name == "Maheer":
    print("Hello Maheer Good Morning")
    print("How are you!!!")

Enter Name:Azure

2) if-else: 
 
if condition : 
  Action-1 
else :      
  Action-2 
 
if condition is true then Action-1 will be executed otherwise Action-2 will be executed.

In [37]:
#Example
name=input("Enter Name:")
if name=="Shakeer" :
    print("Hello Shakeer Good Morning")
else:
    print("Hello Guest Good Moring")
    print("How are you!!!")

Enter Name:Oracle
Hello Guest Good Moring
How are you!!!

3) if-elif-else: 
   Syntax: 
 
if condition1:     
 Action-1 
elif condition2:     
 Action-2 
elif condition3:     
 Action-3  
elif condition4:     
 Action-4     
... 
...
...
else:     
Default Action

In [39]:
#Example:
name=input("Enter Your Name:")
if name=="Shakeer":
    print("He is Hadoop Developer")
elif name=="Anup":
    print("He is DB Developer")
elif name=="Madhavi":
    print("She is Manager")
else :
    print("Default case")

Enter Your Name:Madhavi
She is Manager

In [40]:
#Example2:
#Biggest number using if else

n1=int(input("Enter First Number:"))
n2=int(input("Enter Second Number:"))
if n1>n2:
    print("Biggest Number is:",n1)
else :
    print("Biggest Number is:",n2)

Enter First Number:10
Enter Second Number:20
Biggest Number is: 20

In [5]:
#Example3:
n1 = int(input("Enter First Number:"))
n2 = int(input("Enter Second Number:"))
n3 = int(input("Enter Third Number:"))
if n1 > n2 and n1 > n3:   
    print("Biggest Number is:", n1)
elif n2 > n3:
    print("Biggest Number is:", n2)
else:
    print("Biggest Number is:", n3)

Enter First Number:10
Enter Second Number:20
Enter Third Number:30
Biggest Number is: 30

In [6]:
#Write a program to check whether the given number is in between 1 and 100?
n=int(input("Enter Number:"))
if n>=1 and n<=10 :
     print("The number",n,"is in between 1 to 10")
else:
     print("The number",n,"is not in between 1 to 10")

Enter Number:10
The number 10 is in between 1 to 10

In [42]:

#Example
n=int(input("Enter a digit from o to 9:"))   
if n==0 :   
    print("ZERO")   
elif n==1:   
    print("ONE")   
elif n==2:   
    print("TWO")   
elif n==3:   
    print("THREE")   
elif n==4:   
    print("FOUR")   
elif n==5:   
    print("FIVE")   
elif n==6:   
    print("SIX")   
elif n==7:   
    print("SEVEN")   
elif n==8:   
    print("EIGHT")   
elif n==9:   
    print("NINE")   
else:  
    print("PLEASE ENTER A DIGIT FROM 0 TO 9")

Enter a digit from o to 9:8
EIGHT

# for loop:

If we want to execute some action for every element present in 
some sequence(it may be string or collection)then we should go for loop. 

Syntax: 
 
for x in sequence :    
 body 
 
where sequence can be string or any collection. Body will be executed for every element present in the sequence.

In [43]:
#Example:
 
#To print characters, present in the given string
s="Bangalore"
for x in s :
    print(x)

B
a
n
g
a
l
o
r
e

In [9]:
#Eg 3:  To print Hello 10 times 
for x in range(10) :
    print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [44]:
#Eg 4: To display  numbers from 0 to 10 
for x in range(10) :   
    print(x)

0
1
2
3
4
5
6
7
8
9

In [45]:
#Eg 5:  To display odd numbers from 0 to 20 
for x in range(21) :   
    if (x%2!=0):    
        print(x)

1
3
5
7
9
11
13
15
17
19

In [14]:
#Example 6:  
#To display numbers from 10 to 1 in descending order 
for x in range(10,0,-1) : 
    print(x)

10
9
8
7
6
5
4
3
2
1

break:   

We can use break statement inside loops to break loop execution based on some condition.

In [46]:
#Example:
for i in range(10):
    if i == 7:
        print("processing is enough..plz break")
        break
    print(i)

0
1
2
3
4
5
6
processing is enough..plz break

2) continue: 
 
We can use continue statement to skip current iteration and continue next iteration.

In [22]:
#Example:
#To print odd numbers in the range 0 to 9

for i in range(10):
    if i % 2 == 0:   
        continue
    print(i)

1
3
5
7
9

In [23]:
lst=[10,20,500,700,50,60]
for item in lst:
    if item>=500:
        print("We cannot process this item :",item)
        continue   
    print(item)

10
20
We cannot process this item : 500
We cannot process this item : 700
50
60

In [24]:
#Example:
a = [10, 20, 0, 5, 0, 30]
for n in a:
    if n == 0:   \
    print("Hey how we can divide with zero..just skipping")
    continue
print("100/{} = {}".format(n, 100 / n))

Hey how we can divide with zero..just skipping
Hey how we can divide with zero..just skipping
100/30 = 3.3333333333333335

In [49]:
#loops with else block: 
 
#Inside loop execution, 
#if break statement not executed ,then only else part will be executed. else means  loop without break


#Example:

lst = [10, 20, 30, 40, 50,600]
for item in lst:
    if item >= 500:
        print("We cannot process this order",item)
        break
    print(item)
else:
    print("Congrats ...all items processed successfully")

10
20
30
40
50
We cannot process this order 600

In [26]:
#exAMPLE
b=[10,20,600,30,40,50]
for item in b:
    if item>=500:
        print("We cannot process this order")
        break
    print(item)
else:
    print("Congrats ...all items processed successfully")

10
20
We cannot process this order

pass statement: 
 
pass is a keyword in Python. 
In our programming syntactically if block is required which won't do anything then we can define that empty block with pass keyword. 
 
Pass:      
|- It is an empty statement      
|- It is null statement      
|- It won't do anything 
 
use case of pass:   

Sometimes in the parent class we have to declare a function  with empty   body and child class responsible to provide proper implementation. Such type of empty body we can define by using pass keyword. (It is something like abstract method in java)    
Eg:   def m1(): pass

In [27]:
for i in range(100):
    if i%9==0:
        print(i)
    else:
        pass

0
9
18
27
36
45
54
63
72
81
90
99

del statement: 
 
del is a keyword in Python. 
After using a variable, it is highly recommended to delete that variable if it is no longer required,so that the corresponding object is eligible for Garbage Collection. We can delete variable by using del keyword.

In [51]:
#Example:

x=10  
print(x)   
del x  
print(x)

10

NameError: name 'x' is not defined

# Functions

Function blocks begin with the keyword def followed by the function name and parentheses ().
While defining functions we need to specify parameters in these parentheses (if applicable)
The function specification ends with : - (example: def add(a, b):)
We typically have return statement with expression in function body which results in exit from the function and goes back to the caller.
We can have document string in the function.

In [52]:
#example1
def addition(x,y):
    return x+y

In [54]:
addition(200,20)

220

In [55]:
result=addition(10,20)  
print("The sum is",result)
print("The sum is",addition(10,20))

The sum is 30
The sum is 30

In [56]:
#even or odd function

def even_odd(num):
    if num%2==0:
        print(num,"is Even Number")
    else:
        print(num,"is Odd Number")

In [58]:
#calling function
print(even_odd(200))

200 is Even Number
None

In [59]:
def arithmatic(a,b):
    sum=a+b   
    sub=a-b   
    mul=a*b   
    div=a/b   
    return sum,sub,mul,div

In [252]:
print(arithmatic(10,20))

(30, -10, 200, 0.5)

In [3]:
def get_comm_amount(sal, pct):
    comm_amount = (sal * pct / 100) if pct else 0
    return comm_amount

In [4]:
get_commission_amount

In [5]:
get_commission_amount(1000, 20)

200.0

In [253]:
def get_comm_amount(sales_amount, pct):
    if pct:
        commission_amount = (sales_amount * pct / 100) 
    else:
        pct = 0
    return commission_amount

In [ ]:
def get_comm_amount(sales_amount, pct):
    return (sales_amount * pct / 100) if pct else 0

In [6]:
get_commission_amount?

We typically have one or more return statements inside the function body.
The statement return exits a function, we can return back an expression or variable or object to the caller. A return statement with no expression is the same as return None.
If there is no return statement in the function body then the function returns None object.
We can return multiple expressions in Python.

In [ ]:
def get_commission_amount(sales_amount, commission_pct):
    """Function to compute commission amount. commission_pct should be passed as percent notation (eg: 20%)
       20% using percent notation is equal to 0.20 in decimal notation.
    """
    commission_amount = (sales_amount * commission_pct / 100) if commission_pct else 0
    return commission_amount

In [61]:
#rerewrtwetwt
'''fdgdgfdggdf'''
"""sdfgdgdfgdfg"""
print("output")

output

In [62]:
def get_phone_count(employee_id: int, phone_numbers: list):
    valid_count = 0
    invalid_count = 0
    for phone_number in phone_numbers:
        if len(phone_number) != 10:
            invalid_count += 1
        else:
            valid_count += 1
    return valid_count, invalid_count

In [63]:
get_phone_count(1, ['1234567890', '245 789 1234', '+1 156 290 1489'])

(1, 2)

# Function Parameters and Arguments

Here are different types of parameters or arguments:

Parameters with Default Values

Varying arguments

Keyword arguments

Varying Keyword arguments

We can pass arguments to a function by parameter position or name. If you use name you can pass arguments in any order.

You can only specify parameters with default values after mandatory parameters.

In [ ]:
def get_invalid_phone_count(employee_id, phone_numbers):
    invalid_count = 0
    for phone_number in phone_numbers:
        if len(phone_number) != 10:
            invalid_count += 1
    return employee_id, invalid_count

In [ ]:
s = 'Employee {employee_id} have {invalid_count} invalid phones'
employee_id, invalid_count = get_invalid_phone_count(1, ['1234', '1234567890'])

In [ ]:
print(s.format(employee_id=employee_id, invalid_count=invalid_count))

In [ ]:
def get_commission_amount(sales_amount=1000, commission_pct):
    """Function to compute commission amount. commission_pct should be passed as percent notation (eg: 20%)
       20% using percent notation is equal to 0.20 in decimal notation.
    """
    commission_amount = (sales_amount * commission_pct / 100) if commission_pct else 0
    return commission_amount

In [ ]:
//Error

In [ ]:
def get_commission_amount(sales_amount, commission_pct=10):
    """Function to compute commission amount. commission_pct should be passed as percent notation (eg: 20%)
       20% using percent notation is equal to 0.20 in decimal notation.
    """
    if commission_pct and commission_pct > 100:
        print('Invalid Commision Percentage, greater than 100')
        return
    commission_amount = sales_amount * (commission_pct / 100) if commission_pct else 0
    return commission_amount

In [ ]:
# Arguments by position
get_commission_amount(1000, 5)

In [ ]:
# Will take commission_pct default value
get_commission_amount(1000)

In [ ]:
get_commission_amount(1000, 150)

In [ ]:
# Arguments by name
get_commission_amount(commission_pct=18, sales_amount=1500)

# Varying Arguments

At times we might want to pass values of same type as arguments and we might not know how many of them.

In that scenario we can leverage the concept of Varying arguments.

The parameter which accepts Varying arguments should have * at the beginning - example: *phone_numbers.

As part of the function body the type of the parameter will be tuple. In our case, as we will be passing phone numbers as strings, it will be of type tuple where each element will be of type string.

In [ ]:
#Example
def get_invalid_phone_count(*phone_numbers, employee_id):
    invalid_count = 0
    for phone_number in phone_numbers:
        if len(phone_number) < 10:
            invalid_count += 1
    return employee_id, invalid_count

In [ ]:
s = 'Employee {employee_id} have {invalid_count} invalid phones'
employee_id, invalid_count = get_invalid_phone_count('1234', '1234567890', 1) 
# argument by position will fail
# Python interpreter cannot determine whether 1 is related to phone_numbers or employee_id

In [ ]:
s = 'Employee {employee_id} have {invalid_count} invalid phones'
phone_numbers = ('1234', '1234567890',)
employee_id, invalid_count = get_invalid_phone_count(employee_id=1, phone_numbers=phone_numbers) 
# argument by name will fail
# This will fail as we cannot pass varrying argument using keyword

In [ ]:
s = 'Employee {employee_id} have {invalid_count} invalid phones'
employee_id, invalid_count = get_invalid_phone_count('1234', '1234567890', employee_id=1) 
# argument by position will fail
# Python interpreter cannot determine whether 1 is related to phone_numbers or employee_id

In [ ]:
print(s.format(employee_id=employee_id, invalid_count=invalid_count))

In [ ]:
#example
def get_invalid_phone_count(employee_id, *phone_numbers):
    print(f'Length of phone_numbers is: {len(phone_numbers)}')
    print(f'Type of phone_numbers is: {type(phone_numbers)}')
    print(f'Type of each phone number is: {type(phone_numbers[0])}')
    print(phone_numbers)
    invalid_count = 0
    for phone_number in phone_numbers:
        if len(phone_number) < 10:
            invalid_count += 1
    return employee_id, invalid_count

In [ ]:
s = 'Employee {employee_id} have {invalid_count} invalid phones'
employee_id, invalid_count = get_invalid_phone_count(1, '1234', '1234567890') # argument by position works here

In [ ]:
print(s.format(employee_id=employee_id, invalid_count=invalid_count))

In [ ]:
s = 'Employee {employee_id} have {invalid_count} invalid phones'
phone_numbers = ['1234', '1234567890']

In [ ]:
employee_id, invalid_count = get_invalid_phone_count(1, *phone_numbers) # argument by position works here

In [ ]:
print(s.format(employee_id=employee_id, invalid_count=invalid_count))

# key word arguments

Keyword Argument is same as passing argument by name.

You can also specify parameter for varying keyword arguments with ** at the beginning - example: **degrees

While passing arguments to satisfy the parameter with **, you have to pass key as well as value.

Varying Keyword Arguments can be processed as dict in the Function body.

In [10]:
def add_employee(employee_id, **degrees):
    print(f'Length of degrees is: {len(degrees)}')
    print(f'Type of degrees is: {type(degrees)}')
    print(degrees)

In [11]:
add_employee(1, bachelors='B. Sc', masters='M. C. A')

Length of degrees is: 2
Type of degrees is: <class 'dict'>
{'bachelors': 'B. Sc', 'masters': 'M. C. A'}

In [ ]:
degrees = {'bachelors': 'B. Sc', 'masters': 'M. C. A'}
add_employee(1, **degrees)

In [12]:
#example2
def add_employee(employee_id, *phone_numbers, **degrees):
    print(f'Length of phone_numbers is: {len(phone_numbers)}')
    print(f'Type of phone_numbers is: {type(phone_numbers)}')
    print(phone_numbers)    
    print(f'Length of degrees is: {len(degrees)}')
    print(f'Type of degrees is: {type(degrees)}')
    print(degrees)

In [13]:
add_employee(1, '1234567890', '1234567890', bachelors='B. Sc', masters='M. C. A')

Length of phone_numbers is: 2
Type of phone_numbers is: <class 'tuple'>
('1234567890', '1234567890')
Length of degrees is: 2
Type of degrees is: <class 'dict'>
{'bachelors': 'B. Sc', 'masters': 'M. C. A'}

In [ ]:
#example
def get_invalid_phone_count(employee_id, *phone_numbers):
    invalid_count = 0
    for phone_number in phone_numbers:
        if len(phone_number) != 10:
            invalid_count += 1
    return employee_id, invalid_count

In [ ]:
def add_employee(employee_id, employee_name, *phone_numbers, salary=3000, **degrees):
    degree_types = ('bachelors', 'masters', 'executive', 'doctorate')
    invalid_degree_flag = False
    invalid_salary_flag = False
    l_employee_id, l_invalid_count = get_invalid_phone_count(employee_id, *phone_numbers)
    if l_invalid_count != 0:
        print(f'{l_invalid_count} phone numbers out of {len(phone_numbers)} are not valid')    

    if salary < 3000:
        invalid_salary_flag = True
        print(f'Invalid salary: {salary}, salary should be at least 3000')

    for degree_key in degrees:
        if degree_key not in degree_types:
            invalid_degree_flag = True
    
    if l_invalid_count != 0 or invalid_degree_flag or invalid_salary_flag:
        if invalid_degree_flag: print('One or more degrees are not valid')
        return

    print('Employee {} with {} degrees is successfully added and his salary is {}'.format(employee_id, len(degrees), salary))
    return

In [ ]:
add_employee(1, 'IT', '1234567890', '1234567890', salary=5000, b='B. Sc', m='M. C. A')

In [ ]:
add_employee(1, 'IT', '12345678', '1234567890', salary=5000, b='B. Sc', masters='M. C. A')

In [ ]:
add_employee(1, 'IT', '12345678', '1234567890', salary=2000, bachelors='B. Sc', masters='M. C. A')

In [ ]:
add_employee(1, 'IT', '1234567890', '1234567890', salary=5000, bachelors='B. Sc', masters='M. C. A')

In [ ]:
def add_employee(employee_id, employee_name, *phone_numbers, salary=3000, **degrees):
    """Example using pre defined exception ValueError"""
    degree_types = ('bachelors', 'masters', 'executive', 'doctorate')
    try:
        l_employee_id, l_invalid_count = get_invalid_phone_count(employee_id, *phone_numbers)
        if l_invalid_count != 0 or salary < 3000:
            raise ValueError
              
        for degree_key in degrees:
            if degree_key not in degree_types:
                raise ValueError

        print('Employee {} with {} degrees is successfully added and his salary is {}'.format(employee_id, len(degrees), salary))

    except ValueError as ve:
        print('Either one or more phone numbers are not valid or invalid salary, salary should be at least 3000 or one or more degrees are not correct')

In [ ]:
add_employee(1, 'IT', '1234567890', '1234567890', salary=5000, b='B. Sc', masters='M. C. A')

In [ ]:
add_employee(1, 'IT', '1234567890', '1234567890', salary=5000, bachelors='B. Sc', masters='M. C. A')

# function as arguments

In [16]:
def my_sum(lb, ub, f):
    total = 0
    for e in range(lb, ub + 1):
        total += f(e)
    return total

In [18]:
def i(n): return n

In [20]:
def sqr(n): return n * n

In [21]:
def cube(n): return n * n * n

In [22]:
def even(n): return n if n % 2 == 0 else 0

In [19]:
my_sum(5, 10, i)

45

In [23]:
my_sum(5, 10, sqr)

355

In [24]:
my_sum(5, 10, cube)

2925

# lamda functions

In [ ]:
A lambda function is a function which does not have name associated with it.

It starts with the keyword lambda.

Typically we have simple one liners as part of lambda functions.

There are restrictions while passing or creating lambda functions.

You cannot have return statement

Assignment operation is not allowed

Use lambda functions only when the functionality is simple and not used very often.

In [25]:
def my_sum(lb, ub, f):
    total = 0
    for i in range(lb, ub + 1):
        total += f(i)
    return total

In [26]:
def i(n): return n # typical function, for lambda def and function are replaced by keyword lambda

In [ ]:
my_sum(5, 10, i)

In [ ]:
my_sum(5, 10, lambda n: n)

my_sum(5, 10, lambda n: n * n)

In [ ]:
my_sum(5, 10, lambda n: n * n * n)

In [ ]:
def even(n): return n if n % 2 == 0 else 0 # Another example for typical function

In [ ]:
my_sum(5, 10, even)

In [ ]:
my_sum(5, 10, lambda n: n if n % 2 == 0 else 0)

In [ ]:
my_sum(5, 10, lambda n: n if n % 3 == 0 else 0)

# Usage of Lambda Functions

In [ ]:
Lambda functions are typically used while invoking those functions which take functions as arguments. Here are some of the functions which take other functions as arguments.

filter

map

sorted or sort and more

There are many Python modules which have functions which take other functions as arguments.

In [64]:
users = [
    '1,Bryn,Eaken,beaken0@cbc.ca,Female,236.34.175.186',
    '2,Smith,Combe,scombe1@xing.com,Male,',
    '3,Roland,Wallentin,rwallentin2@aboutads.info,Male,94.67.195.44',
    '4,Charlotta,Richten,crichten3@wikia.com,Female,202.51.201.1',
    '5,Berne,Coyne,bcoyne4@squarespace.com,,150.246.120.53',
    '6,Kesley,Hakonsen,khakonsen5@cbc.ca,Female,227.61.48.174',
    "7,Gray,M'Barron,gmbarron6@altervista.org,Male,190.128.200.183",
    '8,Melinde,Scarf,mscarf7@diigo.com,Female,134.41.141.5',
    '9,Arturo,Warkup,awarkup8@nifty.com,Male,',
    '10,Annette,Lowthorpe,alowthorpe9@marketwatch.com,Female,63.157.95.191',
    '11,Melinda,McOwen,mmcowena@unblog.fr,Female,73.95.183.60',
    '12,Minnie,Andrivel,mandrivelb@storify.com,,131.194.233.209',
    '13,Taryn,Medhurst,tmedhurstc@ebay.co.uk,Female,65.191.102.59',
    '14,Fanni,Whitley,fwhitleyd@who.int,Female,184.210.235.118',
    '15,Jareb,Thunderchief,jthunderchiefe@arizona.edu,Male,150.159.27.112',
    '16,Sharona,Haffard,shaffardf@kickstarter.com,Female,91.125.183.157',
    '17,Pattin,Basant,pbasantg@gov.uk,Male,162.227.228.164',
    '18,Beatrice,Butler,bbutlerh@abc.net.au,Female,139.49.169.236',
    '19,Linoel,Bucktrout,lbucktrouti@google.ru,Male,18.17.136.105',
    '20,Katee,Aveyard,kaveyardj@feedburner.com,Female,60.25.33.89'
]

In [65]:
type(users)

list

In [66]:
type(users[0])

str

In [67]:
males = filter(
    lambda user: user.split(',')[4] == 'Male',
    users
)
list(males)

TypeError: 'list' object is not callable

In [31]:
male_and_females = filter(
    lambda user: user.split(',')[4] in ('Male', 'Female'),
    users
)
list(male_and_females)

['1,Bryn,Eaken,beaken0@cbc.ca,Female,236.34.175.186',
 '2,Smith,Combe,scombe1@xing.com,Male,',
 '3,Roland,Wallentin,rwallentin2@aboutads.info,Male,94.67.195.44',
 '4,Charlotta,Richten,crichten3@wikia.com,Female,202.51.201.1',
 '6,Kesley,Hakonsen,khakonsen5@cbc.ca,Female,227.61.48.174',
 "7,Gray,M'Barron,gmbarron6@altervista.org,Male,190.128.200.183",
 '8,Melinde,Scarf,mscarf7@diigo.com,Female,134.41.141.5',
 '9,Arturo,Warkup,awarkup8@nifty.com,Male,',
 '10,Annette,Lowthorpe,alowthorpe9@marketwatch.com,Female,63.157.95.191',
 '11,Melinda,McOwen,mmcowena@unblog.fr,Female,73.95.183.60',
 '13,Taryn,Medhurst,tmedhurstc@ebay.co.uk,Female,65.191.102.59',
 '14,Fanni,Whitley,fwhitleyd@who.int,Female,184.210.235.118',
 '15,Jareb,Thunderchief,jthunderchiefe@arizona.edu,Male,150.159.27.112',
 '16,Sharona,Haffard,shaffardf@kickstarter.com,Female,91.125.183.157',
 '17,Pattin,Basant,pbasantg@gov.uk,Male,162.227.228.164',
 '18,Beatrice,Butler,bbutlerh@abc.net.au,Female,139.49.169.236',
 '19,Linoel,Bucktrout,lbucktrouti@google.ru,Male,18.17.136.105',
 '20,Katee,Aveyard,kaveyardj@feedburner.com,Female,60.25.33.89']

In [32]:
male_and_females = filter(
    lambda user: user.split(',')[4] in ('Male', 'Female'),
    users
)
len(list(male_and_females))

18

In [68]:
user_ips = map(
    lambda user: (int(user.split(',')[0]), user.split(',')[-1]),
    users
)
list(user_ips)

TypeError: 'list' object is not callable

In [34]:
sort_by_gender_and_id = sorted(
    users, 
    key=lambda user: (user.split(',')[4], int(user.split(',')[0]))
)
sort_by_gender_and_id

['5,Berne,Coyne,bcoyne4@squarespace.com,,150.246.120.53',
 '12,Minnie,Andrivel,mandrivelb@storify.com,,131.194.233.209',
 '1,Bryn,Eaken,beaken0@cbc.ca,Female,236.34.175.186',
 '4,Charlotta,Richten,crichten3@wikia.com,Female,202.51.201.1',
 '6,Kesley,Hakonsen,khakonsen5@cbc.ca,Female,227.61.48.174',
 '8,Melinde,Scarf,mscarf7@diigo.com,Female,134.41.141.5',
 '10,Annette,Lowthorpe,alowthorpe9@marketwatch.com,Female,63.157.95.191',
 '11,Melinda,McOwen,mmcowena@unblog.fr,Female,73.95.183.60',
 '13,Taryn,Medhurst,tmedhurstc@ebay.co.uk,Female,65.191.102.59',
 '14,Fanni,Whitley,fwhitleyd@who.int,Female,184.210.235.118',
 '16,Sharona,Haffard,shaffardf@kickstarter.com,Female,91.125.183.157',
 '18,Beatrice,Butler,bbutlerh@abc.net.au,Female,139.49.169.236',
 '20,Katee,Aveyard,kaveyardj@feedburner.com,Female,60.25.33.89',
 '2,Smith,Combe,scombe1@xing.com,Male,',
 '3,Roland,Wallentin,rwallentin2@aboutads.info,Male,94.67.195.44',
 "7,Gray,M'Barron,gmbarron6@altervista.org,Male,190.128.200.183",
 '9,Arturo,Warkup,awarkup8@nifty.com,Male,',
 '15,Jareb,Thunderchief,jthunderchiefe@arizona.edu,Male,150.159.27.112',
 '17,Pattin,Basant,pbasantg@gov.uk,Male,162.227.228.164',
 '19,Linoel,Bucktrout,lbucktrouti@google.ru,Male,18.17.136.105']

# function -extra examples

In [36]:
#function examples
def wish(name):
    print("Hello",name," Good Morning")   
wish("Maheer")
wish("Ravi")

Hello Maheer  Good Morning
Hello Ravi  Good Morning

In [38]:
def squareIt(number):
    print("The Square of",number,"is", number*number)
squareIt(4)
squareIt(5)

The Square of 4 is 16
The Square of 5 is 25

In [40]:
def add(x,y):
    return x+y   
result=add(10,20)   
print("The sum is",result)   
print("The sum is",add(100,200))

The sum is 30
The sum is 300

In [42]:
 def even_odd(num):
        if num%2==0:
            print(num,"is Even Number")
        else:
            print(num,"is Odd Number")

In [43]:
even_odd(10)   
even_odd(15)

10 is Even Number
15 is Odd Number

In [46]:
 def sum_sub(a,b):   
        sum=a+b   
        sub=a-b   
        return sum,sub

The Sum is : 150
The Subtraction is : 50

In [47]:
x,y=sum_sub(100,50) 
print("The Sum is :",x)   
print("The Subtraction is :",y)

The Sum is : 150
The Subtraction is : 50

In [48]:
 def calc(a,b):
        sum=a+b
        sub=a-b
        mul=a*b
        div=a/b
        return sum,sub,mul,div

In [50]:
t=calc(100,50)   
print("The Results are")
for i in t:
    print(i)

The Results are
150
50
5000
2.0

In [52]:
#examples key word argument

def wish(name,msg):
    print("Hello",name,msg)

In [54]:
wish(name="Shakeer",msg="Good Morning")   
wish(msg="Good Morning",name="Shakeer")

Hello Shakeer Good Morning
Hello Basha Good Morning

In [55]:
#default argument
def wish(name="Guest"):  
    print("Hello",name,"Good Morning")

In [56]:
#variable length
def sum(*n):
    total=0
    for n1 in n:
        total=total+n1
        print("The Sum=",total)

In [57]:
sum()   
sum(10)   
sum(10,20)   
sum(10,20,30,40)

The Sum= 10
The Sum= 10
The Sum= 30
The Sum= 10
The Sum= 30
The Sum= 60
The Sum= 100

In [58]:
def  f1(n1,*s): 
    print(n1)   
    for s1 in s:
        print(s1)

In [59]:
f1(10)  
f1(10,20,30,40)   
f1(10,"A",30,"B")

10
10
20
30
40
10
A
30
B

In [ ]:
#lamda function
#Write a program to create a lambda function to find square of given number

In [69]:
 s=lambda n:n*n

In [63]:
print("The Square of 4 is :",s(4))   
print("The Square of 5 is :",s(5))

The Square of 4 is : 16
The Square of 5 is : 25

In [70]:
# Lambda function to find sum of 2 given numbers 
s=lambda a,b:a+b

In [71]:
print("The Sum of 10,20 is:",s(10,20))
print("The Sum of 100,200 is:",s(100,200))

The Sum of 10,20 is: 30
The Sum of 100,200 is: 300

In [68]:
#using lamda doubling
l=[1,2,3,4,5]   
l1=list(map(lambda x:2*x,l))   
print(l1)

[2, 4, 6, 8, 10]

# collections

## List

Group of homogenous elements.

There can be duplicates in the list.

list can be created by enclosing elements in [] - example [1, 2, 3, 4].

Empty list can be initialized using [] or list().

In [72]:
#example
lst = [1, 2, 3, 3, 4, 4]

In [74]:
print(lst)
print(type(lst))

[1, 2, 3, 3, 4, 4]
<class 'list'>

In [75]:
lst2=[]
print(lst2)

[]

In [76]:
lst3 = list()
print(lst3)

TypeError: 'list' object is not callable

#operator on lists
in - check if element exists
not in- 
len - to get the number of elements.
sorted - to sort the data (original collection will be untouched). Typically, we assign the result of sorting to a new collection.

sum, min, max, etc - arithmetic operations
split-
count()-
index()-
append-
insert-
extend()-
remove()-
pop()-removes last elements
reverse()-
clear()-

In [78]:
#In - example:
lst = [1, 2, 3, 4] 
10 in lst

False

In [79]:
#length

print(len(lst))

4

In [80]:
#sorted
print(sorted(lst))

[1, 2, 3, 4]

In [82]:
#split

str1="Python Course"
print(type(str1))
lst=str1.split(' ')  
print(lst)
print(type(lst))

<class 'str'>
['Python', 'Course']
<class 'list'>

In [84]:
#index
print(lst[0],lst[1])

Python Course

In [82]:
#slice
l1=[1,2,3,4,5,6,7,8,9,10]   
print(l1[2:7:2])   
print(l1[4::2])   
print(l1[3:7])   
print(l1[8:2:-2])   
print(l1[4:100])

[3, 5, 7]
[5, 7, 9]
[4, 5, 6, 7]
[9, 7, 5]
[5, 6, 7, 8, 9, 10]

In [85]:
#for loop
n=[0,1,2,3,4,5,6,7,8,9,10]   
for n1 in n:
    print(n1)

0
1
2
3
4
5
6
7
8
9
10

In [85]:
#for loop- even numbers
n=[0,1,2,3,4,5,6,7,8,9,10]   
for n1 in n:   
    if n1%2==0:   
        print(n1)

0
2
4
6
8
10

In [86]:
#count- It will print occurances
n=[1,2,2,2,2,3,3]   
print(n.count(1))   
print(n.count(2))   
print(n.count(3))   
print(n.count(4))

1
4
2
0

In [87]:
#append(): addd elements at end
#mutable

list=[]   
list.append("A")   
list.append("B")   
list.append("C")   
print(list)

['A', 'B', 'C']

In [88]:
#insert - at specific position
n=[1,2,3,4,5]   
n.insert(1,888)   
print(n)

[1, 888, 2, 3, 4, 5]

In [89]:
l = n + [6]

In [90]:
print(l)

[1, 888, 2, 3, 4, 5, 6]

In [89]:
#extend
order1=["Lap","Mobile","TV"]
order2=["RC","KF","FO"]
order1.extend(order2)
print(order1)

['Lap', 'Mobile', 'TV', 'RC', 'KF', 'FO']

In [91]:
#remove
n=[10,20,100,30]
n.remove(10)
print(n)

[20, 100, 30]

In [94]:
#pop():it will delete from last position
n=[10,20,30,40,50,60]
print(n.pop())
print(n.pop())
print(n)

60
50
[10, 20, 30, 40]

In [97]:
#reverse:
n=[10,20,30,40,50,60]
n.reverse()
print(n)

[60, 50, 40, 30, 20, 10]

In [ ]:
#clear
l.clear()

# Tuple

In [ ]:
Tuple is exactly same as List except that it is immutable. 
i.e once we creates Tuple object,we cannot perform any changes in that object.  
 Duplicates are allowed  
tuple can be created - ()

In [95]:
t=(10,20,20)
lst=[10,20,30]
print(t)
print(type(t)) 
print(type(lst))

(10, 20, 20)
<class 'tuple'>
<class 'list'>

In [96]:
#immutability
t=(10,20,30,40)  
t[1]=70

TypeError: 'tuple' object does not support item assignment

In [100]:
#index:
t=(10,20,30,40,50,60,70)
print(t[0]) #10   
print(t[-1])  #70

10
70

In [99]:
#slice
t=(10,20,30,40,50,60)   
print(t[1:5])
print(t[2:100])
print(t[::2])

(20, 30, 40, 50)
(30, 40, 50, 60)
(10, 30, 50)

In [103]:
#concat tuple (+)
t1=(10,20,30)
t2=(40,50,60)
t3=t1+t2
print(t3)

(10, 20, 30, 40, 50, 60)

In [104]:
#multiplication (*)
t1=(1,2,3,4,5,6)
t2=t1*10
print(t2)

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [106]:
#len

t=(1,2,3,4,5,6)
print(len(t))

6

In [100]:
#count
t=(10,200,10,110,220)  
print(t.count(10)) #3

2

In [101]:
#index-
t=(10,20,10,10,20)
print(t.index(10))

0

In [109]:
#sorted
t1=(40,10,30,20,100)  
t2=sorted(t1)   
print(t1)
print(t2)

(40, 10, 30, 20, 100)
[10, 20, 30, 40, 100]

In [110]:
t1=sorted(t2,reverse=True) 
print(t1)

[100, 40, 30, 20, 10]

In [111]:
#mix,min

t=(40,10,30,20)   
print(min(t))
print(max(t))

10
40

## Set

In [ ]:
Mutable.
If we want to represent a group of unique values as a single entity then we should go for set. 
Duplicates are not allowed. 
Indexing and slicing not allowed for the set
Set objects are mutable
Same like list
 We can represent set elements within curly braces and with comma seperation

In [103]:
s1={10,20,30,40,10}
print(s1)
print(type(s1))

{40, 10, 20, 30}
<class 'set'>

In [105]:
#convert any sequence to set
l = [10,20,30,40,10,20,10]
print(l)
s=set(l)
print(s)
print(type(s))

[10, 20, 30, 40, 10, 20, 10]
{40, 10, 20, 30}
<class 'set'>

In [115]:
#add
s={10,20,30}
s.add(40);
print(s)

{40, 10, 20, 30}

In [ ]:
 We can use add() to add individual item to the Set,where as we can use update() function 
to add multiple items to Set.  add() function can take only one argument where as update()  function 
can take any number of arguments but all arguments should be iterable objects.

In [116]:
#example
s={10,20,30}
l=[40,50,60,10]
s.update(l,range(5))
print(s)

{0, 1, 2, 3, 4, 40, 10, 50, 20, 60, 30}

In [117]:
s.update(range(1,10,2),range(0,10,2))

In [118]:
print(s)

{0, 1, 2, 3, 4, 5, 6, 7, 40, 9, 10, 8, 50, 20, 60, 30}

In [119]:
s.update(10)
print(s)

TypeError: 'int' object is not iterable

In [ ]:
#remove
It removes specified element from the set. 
If the specified element not present in the Set then we will get KeyError

In [106]:
s={40,10,30,20,50}
s.remove(300) 
print(s)

KeyError: 300

In [107]:
#discard: same as remove but will not give error if element not found.
s={10,20,30} 
s.discard(300) 
print(s)

{10, 20, 30}

In [122]:
#clear

s={10,20,30}
print(s)
s.clear()
print(s)

{10, 20, 30}
set()

In [108]:
help(s)

Help on set object:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [123]:
#union = x.union(y)  or     x|y
x={10,20,30,40} 
y={30,40,50,60} 
print(x.union(y))
print(x|y)

{40, 10, 50, 20, 60, 30}
{40, 10, 50, 20, 60, 30}

In [124]:
#intersection - x.intersection(y)   or   x&y 
#Returns common elements present in both x and y 
x={10,20,30,40} 
y={30,40,50,60} 
print(x.intersection(y))

{40, 30}

In [125]:
#x.difference(y)  or  x-y returns the elements present in x but not in y 

x={10,20,30,40} 
y={30,40,50,60} 
print(x.difference(y))   
print(x-y) 
print(y-x)

{10, 20}
{10, 20}
{50, 60}

In [128]:
#in , not in

s1=set("Maheer")
print(s1)   
print('M' in s1)
print('z' in s1)

{'a', 'e', 'h', 'r', 'M'}
True
False

In [129]:
# Creating new collection retaining duplicates using 2 sets
s1 = {'2013-07-25 00:00:00.0', '2013-07-26 00:00:00.0', '2014-01-25 00:00:00.0'}
s2 = {'2013-08-25 00:00:00.0', '2013-08-26 00:00:00.0', '2014-01-25 00:00:00.0'}
s1.union(s2)

{'2013-07-25 00:00:00.0',
 '2013-07-26 00:00:00.0',
 '2013-08-25 00:00:00.0',
 '2013-08-26 00:00:00.0',
 '2014-01-25 00:00:00.0'}

In [131]:
s2 = list(s1) + list(s2)

TypeError: 'list' object is not callable

## Dictionary

If we want to represent a group of objects as key-value pairs then we should go for Dictionary. 
 Duplicate keys are not allowed but values can be duplicated. 
 Dictionaries are mutable  
Dictionaries are dynamic  
indexing and slicing concepts are not applicable

In [ ]:
#create empty dic
d={}     
or   
d=dict()

In [109]:
#example
# d={key:value, key:value} 
d={}
d[100]="Shakeer"  
d[200]="ravi"  
d[300]="Maheer"  
print(d)

{100: 'Shakeer', 200: 'ravi', 300: 'Maheer'}

In [133]:
#We can access data by using keys. 
d={100:'Shakeer' ,200:'Ruzda', 300:'Maheer'} 
print(d[100])
print(d[200])

Shakeer
Ruzda

In [134]:
#update-dict
#d[key]=value 
d1={100:"Shakeer",200:"Maheer",300:"Ruzda"}
print(d)
d[400]="Bangalore"   
print(d)   
d[100]="Azure"
print(d)

{100: 'Shakeer', 200: 'Ruzda', 300: 'Maheer'}
{100: 'Shakeer', 200: 'Ruzda', 300: 'Maheer', 400: 'Bangalore'}
{100: 'Azure', 200: 'Ruzda', 300: 'Maheer', 400: 'Bangalore'}

In [ ]:
#delete

d={100:"Shakeer",200:"Basha",300:"Hadoop"}
print(d)   
del d[100]
print(d)   
del d[400]

In [139]:
#clear
d={100:"Hadoop",200:"Python",300:"Azure"}   
print(d)
d.clear()  
print(d)

{100: 'Hadoop', 200: 'Python', 300: 'Azure'}
{}

In [142]:
#get: we can get associated value of the key
d={10:"Shakeer",20:"Basha",30:"Oracle"} 
print(d[10]) 
print(d[400])
print(d.get(10)) 
print(d.get(30)) 
print(d.get(10,"Shakeer")) 
print(d.get(20,"Basha"))

Shakeer

KeyError: 400

In [143]:
 #popitem()-It removes an arbitrary item(key-value) from the dictionaty and returns it.
d={10:"Maheer",200:"Ruzda",300:"shaik"}   
print(d)   
print(d.popitem())   
print(d)

{10: 'Maheer', 200: 'Ruzda', 300: 'shaik'}
(300, 'shaik')
{10: 'Maheer', 200: 'Ruzda'}

In [147]:
#print keys from dict
d={100:"Azure",200:"Hadoop",300:"GCP"}   
print(d.keys())   
for k in d.keys():   
    print(k)

dict_keys([100, 200, 300])
100
200
300

In [148]:
#print values
d={100:"Azure",200:"Hadoop",300:"GCP"}   
print(d.values())   
for k in d.values():   
    print(k)

dict_values(['Azure', 'Hadoop', 'GCP'])
Azure
Hadoop
GCP

In [151]:
#items : represents list of key value pairs
d={100:"Hadoop",200:"Data",300:"Engineering"}   
for k,v in d.items():  
    print(k,"<-->",v)

100 <--> Hadoop
200 <--> Data
300 <--> Engineering

In [110]:
d.get?

In [154]:
d = {'id': 1, 'first_name': 'shakeer', 'last_name': 'Basha', 'amount': 1000.0}
d.setdefault('amount')
d.setdefault('commission_pct')

In [155]:
d

{'id': 1,
 'first_name': 'shakeer',
 'last_name': 'Basha',
 'amount': 1000.0,
 'commission_pct': None}

In [156]:
d.setdefault('commission_pct', 0)
d.setdefault('commission_pct', 100)
print(d)

{'id': 1, 'first_name': 'shakeer', 'last_name': 'Basha', 'amount': 1000.0, 'commission_pct': None}

In [111]:
#Update:
#example:
d = {'id': 10}
d.update({'first_name': 'Donald', 'last_name': 'Duck'})
d.update([('amount', 1000.0), ('commission_pct', 10)])

In [112]:
d

{'id': 10,
 'first_name': 'Donald',
 'last_name': 'Duck',
 'amount': 1000.0,
 'commission_pct': 10}

In [159]:
d.update([('amount', 1500.0), ('commission_pct', 5), ('phone_numbers', 1234567890)])

In [164]:
d.update([('phone_numbers', [1234567890, 2345679180])])

In [160]:
d

{'id': 10,
 'first_name': 'Donald',
 'last_name': 'Duck',
 'amount': 1500.0,
 'commission_pct': 5,
 'phone_numbers': 1234567890}

In [162]:
#Adding

d = {'id': 1, 'first_name': 'Scott', 'last_name': 'Tiger', 'amount': 1000.0}
d['commission_pct'] = 10 # Adding Element
d['phone_numbers'] = 1234567890
print(d)

{'id': 1, 'first_name': 'Scott', 'last_name': 'Tiger', 'amount': 1000.0, 'commission_pct': 10, 'phone_numbers': 1234567890}

In [163]:
# All attribute names are of type str and values are of type int, str or float
d = {'id': 1, 'first_name': 'Scott', 'last_name': 'Tiger', 'amount': 1000.0}
for key in d.keys():
    print(f'type of attribute name {key} is {type(key)}')

type of attribute name id is <class 'str'>
type of attribute name first_name is <class 'str'>
type of attribute name last_name is <class 'str'>
type of attribute name amount is <class 'str'>

In [165]:
#examples
d = {'id': 1, 'first_name': 'Scott', 'last_name': 'Tiger', 'amount': 1000.0}
d['address'] = {'street': '1234 ABC Towers', 'city': 'Round Rock', 'state': 'Texas', 'zip': 78664}

In [166]:
d

{'id': 1,
 'first_name': 'Scott',
 'last_name': 'Tiger',
 'amount': 1000.0,
 'address': {'street': '1234 ABC Towers',
  'city': 'Round Rock',
  'state': 'Texas',
  'zip': 78664}}

In [168]:
d['address']
type(d['address'])

dict

In [ ]:
#List of dicts
When we read data from a file into a list, typically each element in the list will be of type binary or string.

We can convert the element into dict to simplify the processing.

Once each element is converted to dict, we can access elements in the dict using attribute name.

Let us see an example to read the data from a file into list of dicts and access dates.

In [115]:
path = 'C:\\Users\\shakeer\\Desktop\\emp10.txt'
emp_file = open(path)
emp_raw = emp_file.read()
data = emp_raw.splitlines()
data[2:10]

['7788,SCOTT,ANALYST,7566,1982-12-09,3000,0,20',
 '7876,ADAMS,CLERK,7788,1983-01-12,1100,0,20',
 '7902,FORD,ANALYST,7566,1981-12-03,3000,0,20',
 '7369,SMITH,CLERK,7902,1980-12-17,800,0,20',
 '7698,BLAKE,MANAGER,7839,1981-05-01,2850,5,30',
 '7499,ALLEN,SALESMAN,7698,1981-02-20,1600,300,30',
 '7521,WARD,SALESMAN,7698,1981-02-22,1250,500,30',
 '7654,MARTIN,SALESMAN,7698,1981-09-28,1250,1400,30']

In [187]:
len(data)

14

In [116]:
def get_emp_dict(data):
    emp_details = data.split(',')
    emp_dict = {
        'empno': emp_details[0],
        'ename': emp_details[1],
        'job': emp_details[2],
        'manager': emp_details[3]
    }
    return emp_dict

In [117]:
get_emp_dict(data[1])

{'empno': '7566', 'ename': 'JONES', 'job': 'MANAGER', 'manager': '7839'}

In [190]:
#convert to int while reading
def get_emp_dict2(data):
    emp_details = data.split(',')
    emp_dict = {
        'empno': int(emp_details[0]),
        'ename': emp_details[1],
        'job': emp_details[2],
        'manager': emp_details[3]
    }
    return emp_dict

In [191]:
get_emp_dict2(data[1])

{'empno': 7566, 'ename': 'JONES', 'job': 'MANAGER', 'manager': '7839'}

In [192]:
data[:3]

['7839,KING,PRESIDENT,,1981-11-17,5000,0,10',
 '7566,JONES,MANAGER,7839,1981-04-02,2975,0,20',
 '7788,SCOTT,ANALYST,7566,1982-12-09,3000,0,20']

In [194]:
emp_dicts = [get_emp_dict2(i) for i in data]

In [195]:
emp_dicts[0]

{'empno': 7839, 'ename': 'KING', 'job': 'PRESIDENT', 'manager': ''}

In [196]:
emp_dicts[:3]

[{'empno': 7839, 'ename': 'KING', 'job': 'PRESIDENT', 'manager': ''},
 {'empno': 7566, 'ename': 'JONES', 'job': 'MANAGER', 'manager': '7839'},
 {'empno': 7788, 'ename': 'SCOTT', 'job': 'ANALYST', 'manager': '7566'}]

# collection loops

In [198]:
path = 'C:\\Users\\shakeer\\Desktop\\emp10.txt'
emp_file = open(path)
emp_raw = emp_file.read()
data = emp_raw.splitlines()

In [205]:
data='7839,KING,PRESIDENT,,1981-11-17,5000,0,10'

In [209]:
def get_emp_salary(data, empno):
    filtered = []
    for i in data:
        if int(data.split(',')[0]) == empno:
            filtered.append(i)
    return filtered

In [207]:
get_emp_salary(data, 7839)

['7',
 '8',
 '3',
 '9',
 ',',
 'K',
 'I',
 'N',
 'G',
 ',',
 'P',
 'R',
 'E',
 'S',
 'I',
 'D',
 'E',
 'N',
 'T',
 ',',
 ',',
 '1',
 '9',
 '8',
 '1',
 '-',
 '1',
 '1',
 '-',
 '1',
 '7',
 ',',
 '5',
 '0',
 '0',
 '0',
 ',',
 '0',
 ',',
 '1',
 '0']

In [219]:
import datetime as dt
d = dt.datetime.strptime(data.split(',')[4], '%Y-%m-%d')

In [220]:
d.year == 1981 and d.month ==11

True

In [216]:
print(data.split(',')[4])

1981-11-17

In [224]:
#Dictionary examples

data = '1,2013-07-25 00:00:00.0,11599,CLOSED'
data.split(',')

['1', '2013-07-25 00:00:00.0', '11599', 'CLOSED']

In [225]:
data.split(',')[1]

'2013-07-25 00:00:00.0'

In [226]:
data.split(',')[1][:7]

'2013-07'

In [227]:
data.split(',')[1][:7].replace('-', '')

'201307'

In [228]:
int(data.split(',')[1][:7].replace('-', ''))

201307

In [235]:
#example
def get_count_by_job(job):
    emp_count = {} # dict
    for i in job:
        status = i.split(',')[2]
        if status in emp_count:
            emp_count[status] += 1
        else: 
            emp_count[status] = 1
    return emp_count

In [234]:
get_count_by_job(data)

IndexError: list index out of range

## Strings

In [ ]:
The most commonly used object in any project and in any programming,  language is String only.
Hence we should aware complete information about String data type. 
Any sequence of characters within either single quotes or double quotes is considered as a String. 
Example:
s='SHaik' 
s="Shakeer"

In [254]:
name='Bigdata'
print(name)
lang="scala"
print(lang)
city='''bangalore'''
print(city)
car="""Hundai"""
print(car)
desc="""I love working on Hadoop technology
and Spark and Python"""
print(desc)

Bigdata
scala
bangalore
Hundai
I love working on Hadoop technology
and Spark and Python

In [255]:
name="BidataTrends"
print(name)
print(type(name))
print(id(name))

#forwardindex
print(name[0])
print(name[1])
print(name[2])
print(name[3])
print(name[4])
print(name[5])
#negetive index
print(name[-1])
print(name[-2])
print(name[-3])
print(name[-4])
print(name[-5])

BidataTrends
<class 'str'>
1850299697456
B
i
d
a
t
a
s
d
n
e
r

In [256]:
s = 'Hadoop'
print('d' in s)

True

In [257]:
#Slice

a="SHAKEERBASHA"
print(a[0:7])
print(a[8:12])
print(a[-8:-5])

SHAKEER
ASHA
EER

In [258]:
#Strings can be concated using + operator
c="Hadoop"
w="Developer"
print(c+' '+w)

Hadoop Developer

In [259]:
#String multiplication
a='ssr'
print(a*2)
#String is immutable object we cannot replace or alter existing string object
s="String"
print(s)
print(id(s))
c=s+"DD"
print(c)
print(id(c))

ssrssr
String
1850259736688
StringDD
1850298810224

In [260]:
#String functions
#Capitalize(): It wiill convert first leeter into uppper
s="hadoop"
s.capitalize()

'Hadoop'

In [261]:
a="python hadoop"
a.title()

#IsLower
#IsUpper
#lower
#upper
#len() = it will count no of chanracters in string
#Count =  counts the noof occarances
#find= This will find the index position of specific character
#example:
str1="Spark Developer"
str1.find('D')
#example:
str1="Spark Developer"
str1.find('D')

#split= It will split the string into multiple strings
a="Spark Developer"
a.split()

b="Hadoop.Developer.Google"
b.split(".")

['Hadoop', 'Developer', 'Google']

In [ ]:
#Removing spaces from the string: 
We can use the following 3 methods 
 
1. rstrip()===>To remove spaces at right hand side 
2. lstrip()===>To remove spaces at left hand side 
3. strip() ==>To remove spaces both sides

In [262]:
city=input("Enter your State Name:")
scity=city.strip()
if scity=='Hyderabad':
    print("Capital of Telangana")
elif scity=='Chennai':
    print("Capital of Tamil")
elif scity=="Bangalore":
    print("Capital of Karnataka")
else:
    print("your entered city is invalid")

Enter your State Name:Hyderabad
Capital of Telangana

In [263]:
#find():

'''Returns index of first occurrence of the given substring. 
If it is not available then we will get -1 '''
 
s="Learning Python is very easy"
s="Learning Python is very easy"  
print(s.find("Python"))   
print(s.find("Java"))   
print(s.find("r"))
print(s.rfind("r"))

9
-1
3
21

In [264]:
#example2:
#s.find(substring,begin,end) 
s="bigdatatrends"   
print(s.find('a'))     
print(s.find('a',7,15))    
print(s.find('g',7,15))

4
-1
-1

In [265]:
#example:3
s="abcabcabcabcadda"
print(s.count('a'))
print(s.count('ab'))
print(s.count('a',3,7))

6
4
2

In [ ]:
#replace:

Replace:

Syntax:
s.replace(oldstring,newstring) 
 
inside s, every occurrence of old string will be replaced with new string.

In [266]:
#example:

s="Learning Python is very difficult" 
s1=s.replace("difficult","easy") 
print(s1)

Learning Python is very easy

In [ ]:
#Joining of Strings: 
#We can join a group of strings(list or tuple) wrt the given seperator. 
s=seperator.join(group of strings)

In [267]:
#example1:
t=('abc','sdrf','gfgf') 
s='-'.join(t) 
print(s)

abc-sdrf-gfgf

In [268]:
#example2:
lst=['hyderabad','singapore','london','dubai']
s=':'.join(lst)
print(s)

hyderabad:singapore:london:dubai

In [ ]:
1. s.startswith(substring) 
2. s.endswith(substring

In [269]:
s='learning Python is very easy' 
print(s.startswith('learning')) 
print(s.endswith('learning')) 
print(s.endswith('easy'))

True
False
True

In [ ]:
isalnum(): Returns True if all characters are alphanumeric( a to z , A to Z ,0 to9 )  
isalpha(): Returns True if all characters are only alphabet symbols(a to z,A to Z)  
isdigit(): Returns True if all characters are digits only( 0 to 9) 
islower(): Returns True if all characters are lower case alphabet symbols 
isupper(): Returns True if all characters are upper case aplhabet symbols 
istitle(): Returns True if string is in title case 
isspace(): Returns True if string contains only spaces

In [270]:
print('Azure123'.isalnum())  
print('Python'.isalpha())  
print('ABC123'.isalpha())    
print('asddee'.isdigit())   
print('786786'.isdigit())   
print('abc'.islower())  
print('Abc'.islower())  
print('abc123'.islower()) 
print('ABC'.isupper())   
print('Learning python is Easy'.istitle())
print('Learning Python Is Easy'.istitle())
print('    '.isspace())

True
True
False
False
True
True
False
True
True
False
True
True

In [ ]:
#Formatting the Strings: 
We can format the strings with variable values by using replacement operator {} and format() method.

In [271]:
#example:
name='Basha' 
salary=10000 
age=35 
print("{} 's salary is {} and his age is {}".format(name,salary,age)) 
print("{0} 's salary is {1} and his age is {2}".format(name,salary,age)) 
print("{x} 's salary is {y} and his age is {z}".format(z=age,y=salary,x=name))

Basha 's salary is 10000 and his age is 35
Basha 's salary is 10000 and his age is 35
Basha 's salary is 10000 and his age is 35

In [272]:
#Reverse of String
s = input("Enter Some String:")
#Method1
print(s[::-1])
#method2
print(''.join(reversed(s)))
#Method3
s=input("Enter Some String:")
i=len(s)-1
target=''
while i>=0:
    target=target+s[i]
    i=i-1
    print(target)

Enter Some String:abc
cba
cba
Enter Some String:ert
t
tr
tre

In [273]:
'''Write a program to print characters at odd position and even position for the given String? '''

s=input("Enter Some String:") 
print("Characters at Even Position:",s[0::2]) 
print("Characters at Odd Position:",s[1::2])

Enter Some String:ascccc
Characters at Even Position: acc
Characters at Odd Position: scc

In [274]:
#exatra examples
myString = "Hello"

#print first Character
print(myString[0])

#print last character using negative indexing
print(myString[-1])

#slicing 2nd to 5th character
print(myString[2:5])

H
o
llo

In [275]:
#example:
s1 = "Hello "
s2 = "SSR"

#concatenation of 2 strings
print(s1 + s2)

#repeat string n times
print(s1 * 3)

Hello SSR
Hello Hello Hello

In [276]:
"This will split all words in a list".split()

['This', 'will', 'split', 'all', 'words', 'in', 'a', 'list']

In [277]:
' '.join(['This', 'will', 'split', 'all', 'words', 'in', 'a', 'list'])

'This will split all words in a list'

In [278]:
"Good Morning".find("Mo")

5

In [279]:
s1 = "Bad morning"

s2 = s1.replace("Bad", "Good")

print(s1)
print(s2)

Bad morning
Good morning

In [286]:
myStr = "Madam"

#convert entire string to either lower or upper
myStr = myStr.lower()

#reverse string
revStr = reversed(myStr)

#check if the string is equal to its reverse
if list(myStr) == list(revStr):
    print("Given String is palindrome")
else:
    print("Given String is not palindrome")

TypeError: 'list' object is not callable

# Pandas

In [287]:
import pandas as pd

In [290]:
sals_l = [1500.0, 2000.0, 2200.00]
sals_s = pd.Series(sals_l, name='sal')

In [291]:
sals_s

0    1500.0
1    2000.0
2    2200.0
Name: sal, dtype: float64

In [289]:
pd.Series?

In [292]:
#create DF
sals_ld = [(1, 1500.0), (2, 2000.0), (3, 2200.00)]
sals_df = pd.DataFrame(sals_ld, columns=['id', 'sal'])

In [293]:
display(sals_df)

   id     sal
0   1  1500.0
1   2  2000.0
2   3  2200.0

In [294]:
d = {"JAN": 10, "FEB": 15, "MAR": 12, "APR": 16}
type(d)

dict

In [295]:
import pandas as pd
s = pd.Series(d)

In [296]:
import pandas as pd
s = pd.Series(d, name='val')

In [297]:
s

JAN    10
FEB    15
MAR    12
APR    16
Name: val, dtype: int64

In [299]:
s['FEB']
s[0]

10